:root {
  --main-bg-color: #fff;
  --second-bg-color: #f5f5f5;
  --third-bg-color: #e3e3e3;
  --grey: #4b4b4b;
  --black: #000;
  --red: #c0392b;
  --top-header-size: 30px;
  --mid-header-size: 80px;
  --bottom-header-size: 45px;
  --btn-bg: #000;
  --btn-border-color: #000;
  --btn-color: #fff;
 

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;/* for removing the highlight */
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: var(--main-bg-color);
}

button{
  cursor: pointer;
}

a{
  display: inline-block;
  text-decoration: none;
  color: unset;
}

li{
  list-style-type: none;
}

img{
  max-width: 100%;
}

.container{
  max-width: 1366px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}

.bg-second{
  background-color: var(--second-bg-color);
}

.bg-main{
  background-color: var(--main-bg-color);
}

.text-red{
  color: var(--red);
}

.mobile-menu{
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  display: none;
}

.mb-menu-close{
  display: none;
}

.top-header{
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header ul{
  display: flex;
}

.top-header a{
  font-size: 13px;
}

ul.devided > li{
   margin-right: 10px;
   padding-right: 10px;
   border-right: 1px solid;
}

ul.devided > li:last-child{
  border-right: none;
}

/* dropdown */
.dropdown{
  position: relative;
}

.dropdown:hover .dropdown-content{
  top:100%;
  opacity: 1;
  visibility: visible;
}

.dropdown-content{
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100%+10px);
  background-color: #fff;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
  transition: all .4s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2;
}

.dropdown-content > li > a{
  padding: 10px;
}

.dropdown-content > li:hover{
  color: var(--red);
}
/* end dropdown */

.mid-header{
  display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   background-color: var(--main-bg-color);
}

.logo{
  font-size: 40px;
  font-weight: 700;
}

.mb-logo{
  font-size: 25px;
  font-weight: 700;
}

.search{
  width: 600px;
  height: 40px;
  position: relative;
}

.search input{
  height: 100%;
  width: 100%;
  font-size: 16px;
  outline: 0;
  padding: 0 20px;
  border-radius: 10px;
  border: 0;
  background-color: var(--second-bg-color);
}

.search i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  font-size: 25px;
}

.user-menu{
  display: flex;
}

.user-menu > li > a{
  font-size: 30px;
  margin-left: 15px;
}

.bottom-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu{
  display: flex;
  height: var(--bottom-header-size);
}

.main-menu > li > a{
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-weight: 600;
  height: 100%;
  text-transform: uppercase;
}

.main-menu > li{
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.main-menu > li:hover{
  border-bottom: 2px solid var(--red);
}

/* mega menu */
.mega-content{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  top: calc(100%+100px);
  z-index: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
  transition: all .4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mega-dropdown:hover .mega-content{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.mega-content h3{
  margin: 20px 0;
  padding-left: 20px;
}

.mega-content ul{
  display: flex;
  flex-direction: column;
}

.mega-content ul > li > a{
  font-weight: normal;
  padding: 10px 0;
  border-bottom: 2px dashed #f5f5f5;
  transition: padding-left .2s ease-in-out;
  margin: 0 20px;
  text-transform: capitalize;
}

.mega-content ul>li>a:hover{
  padding-left: 10px ;
}

.mega-content ul > li{
  border-bottom: 2px solid transparent;
}

.mega-content ul > li:hover{
  border-bottom: 2px solid var(--red);
}

/* end mega menu */

/*-------- hero section------- */

/* begin slide item */
.box{
  padding: 20px;
}

.hero{
  height:calc( 
    100vh - ( var(--top-header-size) + var(--mid-header-size) + var(--bottom-header-size) ) );
  padding: 0 20px;
}

.slider, .slider .container{
  height: 100%;
  position: relative;
}

.slide{
  height: 0;
  position: absolute;
  display: flex;
  inset: 0;
  overflow: hidden;
  visibility: hidden;
}

.slide.active{
  visibility: visible;
  height: 100%;
}

.slide .info{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.top-down{
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .top-down{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.info-content h2{
  font-size: 70px;
  margin: 10px 0 35px;
}

.trans-delay-0-2{
  transition-delay: 0.2s;
}

.trans-delay-0-6{
  transition-delay: 0.6s;
}

.btn-flat{
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid var(--btn-border-color);
  padding: 15px 35px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-size: 15px;
  outline: 0;
  font-weight: 600;

}

.btn-hover{
  transition: all 0.3s ease-in-out;
}

.info-content button{
  margin-top: 30px;
}

.slide .img{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-right{
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.right-left{
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
/* end slide item */


/* slider controller */
.slide-control{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: 0;
  border: 0;
  font-size: 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);

}

.slide-next{
  right: -80px;
}

.slide-prev{
  left: -80px;
}

.slider:hover .slide-next{
  right: 50px;
}

.slider:hover .slide-prev{
  left: 50px;
}

/* end slider controller */


/* --------end hero section--------- */

/* -------promotion section--------- */
.promotion{
  padding: 15px;
}

.promotion [class*="col"]{
    padding: 15px;
}

.promotion-box{
  display: flex;
  background-color: var(--third-bg-color);
}

.promotion .text{
   padding: 20px;
   flex-grow: 1;
}

.promotion h3{
  font-size: 25px;
}

.promotion button{
  margin-top: 30px;
}

.promotion-box img{
  width: 150px;
  transition: transform 0.3s ease-in-out;
}

/*---------- Section----------- */
.section{
  padding: 60px 0;
}

.section-header,.section-footer{
  text-align: center;
  text-transform: uppercase;
  margin: 80px 0;

}

.section-header h2{
  font-size: 40px;
}

.btn-hover:hover{
  background-color: var(--btn-color);
  color: var(--btn-bg);;
}

.product-card{
  background-color: var(--main-bg-color);
  transition: all 0.3s ease-in-out;
}

.product-card:hover {
  background-color: var(--second-bg-color);
}

.product-card-img img:nth-child(2) {
  display: none;
}

.product-card-img {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-card-img img{
  max-height: 100%;
}

.product-card:hover .product-card-img img:nth-child(1) {
  display: none;
}

.product-card:hover .product-card-img img:nth-child(2) {
  display: block;
}

.product-card-info {
  padding: 20px;
  text-align: center;
  position: relative;
}

.product-btn {
  position: absolute;
  bottom: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease-in-out;
}

.product-card:hover .product-btn{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.btn-shop-now, .btn-cart-add {
  padding: 5px 10px;
  line-height: 17px;
}

.product-btn > * ~ * {
    margin-left: 5px;
}

.product-card-name {
  font-size: 20px;
  margin-bottom: 10px;
}

span.curr-price {
  font-size: 20px;
  color: var(--red);
  font-weight: 600;
  margin-left: 5px;
}

/* special products */
.sp-item-name {
  font-size: 55px;
  font-weight: 300;
  margin-bottom: 30px;
}

.sp-item-description {
  margin-bottom: 60px;
  text-align: justify;
}

/* ---------blogs------- */
.blog {
  display: flex;
  margin-bottom: 60px;
}

.blog-img, .blog-info {
  width: 50%;
}

.blog-info {
  padding: 50px;
}

.blog-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.blog-preview {
  margin-bottom: 50px;
  text-align: justify;
}

.row-reverse{
  flex-direction: row-reverse;
}


/* -----footer----- */
footer{
  padding: 100px 0;
}

.footer-head {
  text-transform: uppercase;
  margin-bottom: 20px;
}

footer ul li {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.contact-header {
  font-size: 38px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-socials {
  display: flex;
  font-size: 30px;
  justify-content: center;
}

.contact-socials a {
  margin: 0 10px;
}

.subscribe {
  position: relative;
  margin-top: 10px;
}

.subscribe input {
  width: 100%;
  padding: 0 30px;
  height: 50px;
  border: 0;
  outline: 0;
}

.subscribe button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: var(--red);
    border: none;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    outline: none;
}

footer li:hover{
  color: var(--red);
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
  cursor: pointer;
}
/* end footer */


/* -------------product-detail--------------- */
.breadcumb {
  font-weight: 600;
  padding-left: 20px;
}

.breadcumb a {
  text-transform: capitalize;
}

.breadcumb a:hover{
  color: var(--red);
}

.breadcumb span {
  margin: 0 15px;
}

/* ------------------end breadcumb---------------- */

.product-row {
  padding: 45px 0;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img > img {
  max-width: 70%;
}

.product-img-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img-item {
  width: 90px;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid var(--third-bg-color);
}

.product-img-item:hover{
  background-color: var(--second-bg-color);
}

.product-info > *~* {
  margin-top: 25px;
}

.product-info-detail-title {
  font-weight: 600;
  color: gray;
}

.rating i {
  color: #ffc107;
}

.product-description {
  font-size: 18px;
  text-align: justify;
}

.product-info-price {
  font-weight: 600;
  font-size: 30px;
  color: var(--red);
}

.product-quantity-wrapper {
  display: flex;
  align-items: center;
}

.product-quantity-btn {
    width: 30px;
    height: 30px;
    background: grey;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.product-quantity-btn i {
  font-size: 20px;
  color: #fff;
}

.product-quantity {
  font-size: 20px;
  margin: 0 10px;
}

/* -------------description------------- */
.box-header {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.product-detail-description-content {
  text-align: justify;
  line-height: 26px;
  font-size: 16px;
}


/* ---------------review--------------- */

.user-rate {
  margin-bottom: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.user-avt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.user-name {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  margin-bottom: 10px;
}

/*-------pagnition-------- */
.pagnition {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagnition li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 5px;
    width: 35px;
    height: 35px;
}

.pagnition > li > a:hover{
  background-color: var(--black);
  color: var(--main-bg-color);
}

.pagnition > li > a.active{
  background-color: var(--black);
  color: var(--main-bg-color);
}